/* font  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f9fafb;
  color: #111827;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -2px 10px gray;
    height: 64px;
}

.menu-icon{
    font-size: 28px;
    cursor: pointer;
    margin-left: 10px;
}

.icon img{
    height: 40px;
}

.icon{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

button{
    border-radius: 10px; 
    width: 120px;
    font-size: 25px;
    transition: all 0.3s ease;
    font-weight: 400;
    border:none;
    background-color: black;
    color: white;
    height: 40px;
    margin-right: 10px;
}

button:hover{
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px ;
    cursor: pointer;
    color: black;
}

/* section */
.ET{
    font-size: 40px;
}

.content {
    text-align:center; 
    margin-top:40px; 
    color:#6b7280;
    flex: 1; 
    padding: 20px;
}

footer {
  text-align: center;
  background-color: #fff;
  padding: 16px 0;
  font-weight: 700;
  font-size: 18px;
  box-shadow: 2px 2px 10px gray;
}

.hidden{
    display: none;
}

/*responsiveness*/

@media (max-width:1000px) {
    .icon{
        transform: scale(0.5);
    }
}